In [1]:
#for loop

In [6]:
languages  = ['English', 'French','German']
for language in languages :
    print(language)

English
French
German

In [7]:
#count = 1 
while count <= 5:
    print (count)
    count = count +1

1
2
3
4
5

In [8]:
for count in range (1,6):
    print(count)

1
2
3
4
5

In [9]:
number = int(input('enter an integer:'))
for count in range(1,11):
    product = number * count
    print(number, 'x', count, '=', product)

enter an integer:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [10]:
number = int(input('enter an integer:'))
for count in range(1,101):
    product = number * count
    print(number, 'x', count, '=', product)

enter an integer:1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
1 x 13 = 13
1 x 14 = 14
1 x 15 = 15
1 x 16 = 16
1 x 17 = 17
1 x 18 = 18
1 x 19 = 19
1 x 20 = 20
1 x 21 = 21
1 x 22 = 22
1 x 23 = 23
1 x 24 = 24
1 x 25 = 25
1 x 26 = 26
1 x 27 = 27
1 x 28 = 28
1 x 29 = 29
1 x 30 = 30
1 x 31 = 31
1 x 32 = 32
1 x 33 = 33
1 x 34 = 34
1 x 35 = 35
1 x 36 = 36
1 x 37 = 37
1 x 38 = 38
1 x 39 = 39
1 x 40 = 40
1 x 41 = 41
1 x 42 = 42
1 x 43 = 43
1 x 44 = 44
1 x 45 = 45
1 x 46 = 46
1 x 47 = 47
1 x 48 = 48
1 x 49 = 49
1 x 50 = 50
1 x 51 = 51
1 x 52 = 52
1 x 53 = 53
1 x 54 = 54
1 x 55 = 55
1 x 56 = 56
1 x 57 = 57
1 x 58 = 58
1 x 59 = 59
1 x 60 = 60
1 x 61 = 61
1 x 62 = 62
1 x 63 = 63
1 x 64 = 64
1 x 65 = 65
1 x 66 = 66
1 x 67 = 67
1 x 68 = 68
1 x 69 = 69
1 x 70 = 70
1 x 71 = 71
1 x 72 = 72
1 x 73 = 73
1 x 74 = 74
1 x 75 = 75
1 x 76 = 76
1 x 77 = 77
1 x 78 = 78
1 x 79 = 79
1 x 80 = 80
1 x 81 = 81
1 x 82 = 82
1 x 83 = 83
1 x 84 = 84
1 x 85 = 85
1 x 86 = 86
1 x 87 = 87
1 x 88 = 88
1 x 89 = 89
1 x 90 = 90
1 x 91 = 91
1 x 92 = 92
1 x 93 = 93
1 x 94 = 94
1 x 95 = 95
1 x 96 = 96
1 x 97 = 97
1 x 98 = 98
1 x 99 = 99
1 x 100 = 100