In [1]:
import numpy as np

In [4]:
def greet(name):
    print('hello',name)
    return
    print('how do you do')
    
greet('jack')

hello jack
how do you do

In [6]:
def add_numbers(n1,n2):
    result = n1+n2
    return result
number1 = 5.4
number2 = 6.7
result=add_numbers(number1, number2)    
print('the sum is', result)

the sum is  12.100000000000001

In [9]:
marks = [55,64,75,80,34]
length = len(marks)
print('length is', length)
marks_sum = sum(marks)
print('the total maks you got is', marks_sum)

length is 5
the total maks you got is 308

In [15]:
#function to find average marks
def find_average_marks(marks):
    sum_of_marks = sum(marks)
    total_subjects = len(marks)
    average_marks = sum_of_marks / total_subjects
    return average_marks
#calculate the grade and return it
def compute_grade(average_marks):
    if average_marks >=80:
        grade = 'A'
    elif average_marks  >= 60:
        grade = 'B'
    elif average_marks >= 50 :
        grade = 'C'
    else:
        grade = 'F'
    return grade
    
    
marks = [55,64,75,80,65]
average_marks = find_average_marks(marks)
print('your average marks is:',average_marks)

grade = compute_grade(average_marks)
print('your grade is:', grade)

your average marks is: 67.8
your grade is: B

In [18]:
def add_numbers(n1, n2):
    result = n1+n2
    return result
n1= 5
n2= 4
result = n1+n2
print(result)

9

In [20]:
def multiply_numbers(n1,n2):
    result = n18n2
n1 = 5
n2 = 4
result = n1*n2 
print(result)

20