 #  import libraries

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('accidental-deaths-in-usa-monthly.csv')

In [10]:
df.head(20)

      Month  Accidental deaths in USA: monthly, 1973 ? 1978
0   1973-01                                            9007
1   1973-02                                            8106
2   1973-03                                            8928
3   1973-04                                            9137
4   1973-05                                           10017
5   1973-06                                           10826
6   1973-07                                           11317
7   1973-08                                           10744
8   1973-09                                            9713
9   1973-10                                            9938
10  1973-11                                            9161
11  1973-12                                            8927
12  1974-01                                            7750
13  1974-02                                            6981
14  1974-03                                            8038
15  1974-04                                            8422
16  1974-05                                            8714
17  1974-06                                            9512
18  1974-07                                           10120
19  1974-08                                            9823

In [4]:
df.columns

Index(['Month', 'Accidental deaths in USA: monthly, 1973 ? 1978'], dtype='object')

In [5]:
df.dtypes

Month                                             object
Accidental deaths in USA: monthly, 1973 ? 1978     int64
dtype: object

In [6]:
duplicate_rows_df = df[df.duplicated()]
print('number of duplicate rows:', duplicate_rows_df.shape)

number of duplicate rows: (0, 2)

In [7]:
df.count()

Month                                             72
Accidental deaths in USA: monthly, 1973 ? 1978    72
dtype: int64

In [14]:
df['Month']=pd.to_datetime(pd['Month'])format=yyyy-mm

SyntaxError: invalid syntax (3024123388.py, line 1)

In [18]:
print(df.describe())

       Accidental deaths in USA: monthly, 1973 ? 1978
count                                       72.000000
mean                                      8787.736111
std                                        958.338013
min                                       6892.000000
25%                                       8089.000000
50%                                       8728.500000
75%                                       9323.250000
max                                      11317.000000