<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

This is an example cell for text

In [1]:
# create a list of 10 students (use just first name)
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

In [2]:
# Print the list
print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [9]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for stident in students:
    print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']
['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [ ]:
# print the student list in random order
# hint look up the function random.sample
??? random
??? = random.sample(???)
???

In [ ]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order
students.reverse()
print('Reversed List:', students)

In [ ]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Students and their marks: \n {studentsAndMarks}")

In [ ]:
sorted(studentsAndMarks, key=studentsAndMarks.get,reverse=True)



---



---



> > > > > > > > > Â© 2022 Institute of Data


---



---