In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('/home/gaio/Documents/GitHub/iod-linux/DATA/excess-mortality-p-scores-average-baseline.csv')

In [3]:
data.head()

    Entity Code         Day  p_avg_all_ages
0  Albania  ALB  2020-01-31          -10.65
1  Albania  ALB  2020-02-29            2.17
2  Albania  ALB  2020-03-31            0.62
3  Albania  ALB  2020-04-30            3.23
4  Albania  ALB  2020-05-31            6.15

In [4]:
data.describe()

       p_avg_all_ages
count    10249.000000
mean        17.884829
std         28.825970
min        -95.590000
25%          2.530000
50%         11.030000
75%         23.540000
max        415.530000

In [6]:
# Adding three new columns of year month and day
data["Year"] = pd.to_datetime(data["Day"]).dt.year
data["Month"] = pd.to_datetime(data["Day"]).dt.month_name()
data["Day"] = pd.to_datetime(data["Day"]).dt.day

In [8]:
for col in data:
    print(f"{col}: {data[col].nunique()}")

Entity: 125
Code: 122
Day: 1
p_avg_all_ages: 5209
Year: 1
Month: 1

In [9]:
data.head()

    Entity Code  Day  p_avg_all_ages  Year    Month
0  Albania  ALB    1          -10.65  1970  January
1  Albania  ALB    1            2.17  1970  January
2  Albania  ALB    1            0.62  1970  January
3  Albania  ALB    1            3.23  1970  January
4  Albania  ALB    1            6.15  1970  January

In [14]:
sns.boxplot(y='p_avg_all_ages', x='Month', data=data['Code']=='NZL' )

ValueError: Could not interpret input 'Month'