## Exploratory Data Analysis with SQL

In [1]:
# Sqlite is a library that implements a SQL database engine. 
import sqlite3
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#connection
conn = sqlite3.connect('/home/gaio/Documents/GitHub/iod-linux/DATA/database.sqlite')

In [3]:
#sqlite_master is a table with database schema
pd.read_sql(""" SELECT *
                FROM sqlite_master
                WHERE type='table';""",conn)

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...


Let's explore the Indicators table.

In [10]:
# check the head
pd.read_sql('''SELECT * FROM CountryNotes LIMIT 10;''', conn)

,Countrycode,Seriescode,Description
0,ABW,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...
1,ABW,EG.ELC.RNEW.ZS,Sources: UN Energy Statistics (2014)
2,ABW,EG.FEC.RNEW.ZS,Sources: UN Energy Statistics (2014)
3,ABW,SM.POP.NETM,Data sources : United Nations World Population...
4,ABW,SM.POP.TOTL,Estimates are derived from data on foreign-bor...
5,ABW,SP.DYN.AMRT.FE,Data source : United Nations World Population ...
6,ABW,SP.DYN.AMRT.MA,Data source : United Nations World Population ...
7,ABW,SP.DYN.CBRT.IN,Data sources : United Nations World Population...
8,ABW,SP.DYN.CDRT.IN,Data sources : United Nations World Population...
9,ABW,SP.DYN.LE00.FE.IN,Data sources : United Nations World Population...

In [ ]:
# check the head
pd.read_sql("""SELECT *
               FROM Indicators
               LIMIT 3;""",
           conn)

In [ ]:
# how many rows?
pd.read_sql("""SELECT COUNT(*)
               FROM Indicators;""",
           conn)

In [ ]:
df.info()

In [ ]:
# selecting distinct indicators
pd.read_sql("""SELECT DISTINCT IndicatorName
                FROM Indicators;""",
           conn)

In [ ]:
# I wanna search for some indicator about GDP
pd.read_sql("""SELECT DISTINCT IndicatorName
               FROM Indicators
               WHERE IndicatorName LIKE 'GDP%';""",
           conn)

In [ ]:


# how about GDP per capita of Brazil in last years ?
gdpbrazil=pd.read_sql(""" SELECT *
                FROM Indicators
                WHERE IndicatorName ='GDP per capita (current US$)'
                AND CountryName = "Brazil"
                AND Year>=2000;
                """,
           conn)

In [ ]:
sns.lineplot(data= gdpbrazil );

In [ ]:


# let's search for the highest GDP per capita in 2014
pd.read_sql("""SELECT CountryName, MAX (Value)
               FROM Indicators
               WHERE IndicatorName = 'GDP per capita (current US$)'
               AND Year = 2014;""",
            conn)

In [ ]:


#Let's order (and reafirm the highest GDP per capita)
pd.read_sql("""SELECT * 
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND Year= 1995
               ORDER BY Value DESC
               LIMIT 3;""",
           conn)

In [ ]:


#how many measures during this time?
pd.read_sql(""" SELECT CountryName, count (*) AS n_measures
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName IN ('Brazil', 'China', 'India', 'Angola')
                AND Year>2010
                GROUP BY CountryName
                ORDER BY n_measures
                LIMIT 10;""",
           conn)

In [ ]:


# important to know that Angola has less measures during this time
pd.read_sql(""" SELECT *
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName = 'Angola'
                AND Year>2010;""",
           conn)

In [ ]:
pd.read_sql("""SELECT indicators """)

1. Using the country table, how many upper middle income countries are there? 1a. Can you draw a barplot comparing the different categories and the number of countries? 2. Using the country table, how many countries use the Euro? 2a. Draw a barplot like above

3. Which country has the highest fertility in year 2010? 4. What is the average fertility rate in year 2014?

In [ ]:
df.head()

In [ ]:
df['IncomeGroup'] .value_counts('Upper middle income')